* {
  box-sizing: border-box;
}

body {
  font-family: Indie Flower;
  margin: auto;
  background: #FFDEAD;
  color: #6A522F;
}

h1, h2 {
  width:100%;
  font-weight: 300;
  text-align: center;
}

.col-6, .col-8 {
  display: inline;
  text-align: center;
}

p {
  font-size: 25px;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

#question {
  font-size: 30px;
}

#score {
  font-size: 30px;
}

fieldset {
  max-width:75%;
  border: 1px #6A522F solid;
  display: inline-block;
}

button {
  display: inline-block;
}

#Quiz-Button {
  font-family: Indie Flower;
  font-size: 30px;
  background-color: #FFE7C2;
  border: 1px #6A522F solid;
  border-radius: 10%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.answerOption {
  font-size: 30px;
  display: block;
}

#submitButton {
  font-family: Indie Flower;
  font-size: 30px;
  background-color: #FFE7C2;
  border: 1px #6A522F solid;
  border-radius: 10%;
  display: inline-block;
}

#Next {
  font-family: Indie Flower;
  font-size: 30px;
  background-color: #FFE7C2;
  border: 1px #6A522F solid;
  border-radius: 10%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* Mobile Design */

.col-3, .col-4, .col-6, .col-12 {
  width:100%;
  padding-left: 1%;
  padding-right: 1%;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}
@media only screen and (min-width: 640px) {
  
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width:33%;
  }
  .col-6 {
    width:50%;
  }
  .col-12 {
    width:100%;
  }
}
@media only screen and (min-width: 1000px) {
  
  .row {
    width:100%;
  }
}